body {
	text-align:center;
	overflow:hidden;
	background-color: #fff;


}
body::-webkit-scrollbar { width: 0 !important }

body, body *{
	font-weight: 300;
	font-smooth: always;
}

.app{
	-webkit-box-sizing:border-box;
}

.logoLetter{
	font-size: 50px;
	display: inline-block;
	width: 20%;
	white-space: nowrap;
	font-weight:600;
}

.logoLetterB{
	width: 16.66%;
	font-size: 30px;
	white-space: nowrap;
	display: inline-block;
	text-transform: none;
	color: #cecece;
}

#gameScreen{

}

#homeScreen{
	background: #fff;
}

#logoScreen{
	background: #fff;
}

.dataDisplayed {
	color: #000;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	background: #F7F7F7;
	position: relative;
}


.counter{
	/*border: 5px solid #000;*/
	border-radius: 90px;
	width: 50px;
	display: inline-block;
	line-height: 40px;
	-webkit-box-sizing:border-box;
	font-size: 40px;
	color: #4A4A4A;
}

#levelcounter{
	font-size: 18px;
}

.screen{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 30px;
	-webkit-box-sizing:border-box;
}

a {color: white;}
.hide {display:none !important;}
#grid {
	position:relative;
	width:100%;
	display: inline-block;
	pointer-events:none;
	padding: 5px;
	-webkit-box-sizing:border-box;
}

.portrait #banners {
	width: 100%;
	height: 29%;
	display: inline-block;
}
.pixel, .mask {
	border: 1px solid #F7F7F7;
	box-sizing: border-box;
	display:inline-block;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 550ms;
	transition-duration: 550ms;
	vertical-align:top;
	color: white;
	font-size: 20px;
	background-size: 90% 80%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.power.disabled {
	background-image: url('../img/cross.png');
	background-size:  50% 50%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	pointer-events:none;
}
.portrait #powers {  height: 75%;}
.power {
	-moz-transition-duration: 550ms;
	transition-duration: 550ms;}
.free {
	background: #ffe8b8;
	-webkit-transition-duration: 100ms;
	background-color: transparent;
	border-color: transparent;
}
.yellow, #yellow {
	background-color: #FFDB4C;
}
.blue, #blue {
	background-color: #34AADC;
}
.green, #green {
	background-color: #4CD964;
}
.red, #red {
	background-color: #FF3A2D;
}
.orange, #orange {
	background-color: #FF9500;
}
.violet, #violet {
	background-color: #e2a9e2;
}
.clickcounter {
	left: 50%;
	-webkit-transform: translate(-50%,0px);
	-moz-transform: translate(-50%,0px);
	padding: 5%;
	display:none;
	position: fixed;
	z-index: 100;
	min-width: 20%;
	top: 6%;
	pointer-events: none;
	color: black;
	background-color: rgba(255, 255, 255, 0.8);
	opacity: 0.9;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	width:100%;
	height:100%;
	font-size: 20px;
	padding-top: 50px;
}
.clickcounter.alert {color:red;}
.clickcounter.enabled {pointer-events:auto;}
.cleared {
	font-size: 15px;
}
#winning {color: black;}
.controls, .loosecontrols, #winning, .chart, .newentry, #sellPopup {
	padding:10px;
	background-color: rgba(255, 255, 255, 0.8);
	pointer-events: auto !important;
	font-size: xx-large;
	left: 50%;
	top: 25%;
	-webkit-transform: translate(-50%,0px);
	-moz-transform: translate(-50%,0px);
	display:none;
	position: fixed;
	z-index: 100;
	min-width: 20%;
	font-family: Trebuchet MS;
	-webkit-transition-duration: 550ms;
	-moz-transition-duration: 550ms;
}
.info {
	position: fixed;
	bottom: 12%;
	left: 12%;
	display:inline-block;
	background-image: url('../img/info.png');
	height: 30px;
	width:30px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	transition-duration: 550ms;
}
.infodisplayed .info {
	background-image: url('../img/back.png');
	bottom: 10px;
	left: 10px;
}
.landscape .info {
	right: 10px;
	left: inherit;
	bottom: 10px;
}
#start, #finishgame {
	display:inline-block;
	padding: 20px !important;
	color: #4A4A4A;
	letter-spacing: 5px;
	font-size: 30px;
	margin-top: 100px;

}
#finishgame {display:none;}
.finish #finishgame {display:block;}
.win .controls {
	display:none;
}
.win #winning {
	display:inline-block;
}
.gaming #grid, .gaming #banners {
	pointer-events:auto;
}
.stall#grid .free {
	pointer-events:none;
}
.controls {
	display:inline-block;
	pointer-events: auto;
}
.loosecontrols {
	pointer-events: auto;
}
#infocontent {
	font-family: arial;
	display: none;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.5);
	overflow: scroll;
}
#infocontent::-webkit-scrollbar { width: 0 !important }
.infodisplayed #infocontent {
	display:inline-block;
}

.gaming .controls {
	display: none;
}
.gameover .loosecontrols {
	display: inline-block;
}

.gameover .controls {
	display: none;
}
.power span {
	position: absolute;
	right: 10px;
	top: 10px;
	font-weight: bold;
}
.power {
	position:relative;
	display: inline-block;
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.landscape .power {height:25%; width:45%;}


.portrait .power {
	width: 25%;
	height:50%;
}

.advise {
	font-size:9px;
	padding-top: 10px;
}
.powerupsinfo {
	font-size:12px;
	color: rgba(255, 255, 255, 0.5);
	padding: 10px;
}
.active span {
	font-size: 30px;
	color: red;
}
.infotext {
	width:80%
}
.infopower {
		background-color: rgba(255, 255, 255, 0.4);
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		height: 30px; width:40px;
		border-radius:2px;
}


.my-new-list {text-align:right;}
#nameplayer {
	border: none;
	border-radius: 2px;
	height: 30px;
}


.you {
	background-image: url('../img/you.png');
	background-size:  50% 50%;
	background-repeat: no-repeat;
	background-position: 50% 50%;

}
.ai {
	background-image: url('../img/ai.png');
	background-size:  50% 50%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.noclick{
	pointer-events:none !important;
}
.waiting .controls, .waiting .loosecontrols {display:none;}

.infodisplayed .controls, .infodisplayed .loosecontrols,.infodisplayed #grid, .infodisplayed #banners, .infodisplayed #winning {
	display:none;
}

.mobile .small .pixel {border:none; border-radius:0;}
.animatetitle {
  text-align:center;
  font-size: xx-large;
  margin:20px 0 20px 0;
  font-family:Iceland;
  color: #FF9900;
}
#title {
	padding:10px;
}

.building {
	background-size:100%;
}
#actions button {
	  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
}
#ai2CounterContainer {float:right;}
.pauseGrid #grid {pointer-events:none;}
.wait .power {
	pointer-events:none;
}





/* TIME SPINNER */
.timer {

	position: absolute;
    margin: auto;
    top: 6px;
    left: 0px;
    right: 0px;
    bottom: 0px
	font-size: 20px;

	height:1em;


}
.timer > #slice {
	position:absolute;

	clip:rect(0px,1em,1em,0.5em);
}

.timer, .timer > #slice, .timer.fill > #slice > .pie  {
	width:  40px;
	height: 40px;
}


.timer > #slice.gt50 {

	clip:rect(auto, auto, auto, auto);

}

.timer > #slice > .pie {

	border: 6px solid #c0c0c0;

	position:absolute;

	width:28px; /* 1 - (2 * border width) */

	height:28px; /* 1 - (2 * border width) */

	clip:rect(0em,20px,40px,0em);

	-moz-border-radius:90px;

	-webkit-border-radius:90px;

	border-radius:90px;

}

.timer > #slice > .pie.fill {
	-moz-transform:rotate(180deg) !important;
	-webkit-transform:rotate(180deg) !important;
	-o-transform:rotate(180deg) !important;
	transform:rotate(180deg) !important;
}

.timer.fill > #slice > .pie {
	border: transparent;
	background-color: #c0c0c0;
}
