.go {
    position:fixed;
    height: 60px;
    width:50%;
    bottom:0;
    right:0;
    background-color: white;
    background-image: url('./up.png');
    background-repeat: no-repeat;
    background-position: 50% 5px;
    background-size: 55px;
    border-top: 3px solid black;
     -moz-transition:0.5s all;
    -webkit-transition:0.5s all;
}
.right {
    position:fixed;
    height: 60px;
    width:25%;
    bottom:0;
    right:50%;
    background-color: white;
    background-image: url('./right.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 40px;
    border-top: 3px solid black;
}
.left {
    position:fixed;
    height: 60px;
    width:25%;
    bottom:0;
    right:75%;
    background-color: white;
      background-image: url('./left.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 40px;
    border-top: 3px solid black;
}
.volante {
   position:fixed;
    height: 60px;
    width:50%;
    bottom:0;
    right:50%;
    background-color: white;
      background-image: url('./volante.png');
    background-repeat: no-repeat;
    background-position: 50% 5px;
    background-size: 80px;
    border-top: 3px solid black;
}
.metri {
    position: fixed;
    height: 65px;
    width: 100%;
    bottom: 0;
    padding-top: 15px;
    text-align: center;
    background-color: transparent;
    background-image: url('./crus.png');
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 56px;
    z-index: 2;
    pointer-events: none;
    color: black;
    font-size: 15px;
    font-weight:bold;
}
body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
html {
    height  : 100%;
    overflow: hidden;
        position:fixed;
}
